DATABASE_URL="your_neon_database_url_here"

BETTER_AUTH_URL=http://127.0.0.1:3000 # Must be  
BETTER_AUTH_SECRET="your_secret_key_here"

SPOTIFY_CLIENT_ID="your_spotify_client_id_here"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret_here"